html {
  width: 100vw;
  height: 100vh;
}

.App {
  overflow: hidden;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

/* MENU */

nav {
  height: 67vh;
}

.nav {
  color: #2196f3;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

ul {
  padding-left: 10px;
}

.nav li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav li {
  margin-top: 5%;
}

@media only screen and (max-width: 900px) {
  .nav li {
    font-size: 1rem;
  }
}

/* CLASSCOMP */

.greet {
  font-size: 1.2rem;
  text-align: center;
  color: darkolivegreen;
}

.greet-btn {
  text-align: center;
  padding-bottom: 1%;
}

.btn {
  background: chocolate;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 20px #666666;
  font-family: Arial;
  color: ivory;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: tomato;
  text-decoration: none;
}

/* FUNCTIONCOMP */

.greetName {
  font-size: 1.1rem;
  color: chocolate;
  text-align: center;
  padding: 2%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* SETSTATECOUNTER */

.buttons {
  margin: 0 auto;
  width: 20%;
  height: 5%;
  margin-bottom: 17%;
}

@media only screen and (max-width: 900px) {
  .buttons {
    width: 20%;
  }
}

.plusBtn {
  font-size: 2rem;
  color: chocolate;
  border: none;
  background: transparent;
  float: left;
}

.minusBtn {
  font-size: 2rem;
  color: chocolate;
  border: none;
  background: transparent;
  float: right;
}

.rate {
  margin-top: 20px;
  font-size: 2rem;
  text-align: center;
  color: darkolivegreen;
}

.rate-no {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  color: darkolivegreen;
}

/* COMMENT */

.comment {
  text-align: center;
  padding-bottom: 35%;
}

input {
  padding: 2%;
  margin: 1%;
  border-radius: 15px;
  border: none;
  background-color: ivory;
}

.item-p {
  font-size: 2rem;
  font-weight: 100;
  color: #2196f3;
}

/* JOKE */

.joke-space {
  width: 20%;
  text-align: center;
  font-size: 1.1rem;
  position: absolute;
  margin-left: 7%;
  margin-top: 7%;
  color: darkolivegreen;
}

@media only screen and (max-width: 900px) {
  .joke-space {
    position: relative;
  }
}

.joke-gen {
  font-size: 2rem;
  text-align: center;
  color: darkolivegreen;
}

/* TODO */

.todo-h1 {
  font-size: 2rem;
  text-align: center;
  color: darkolivegreen;
}

.btn-x {
  margin: 3%;
  background: tomato;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 20px #666666;
  font-family: Arial;
  color: ivory;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: none;
}

.todo {
  text-align: center;
  margin-left: 7%;
}

.input {
  padding: 2.5%;
  margin: 1%;
  border-radius: 15px;
  border: none;
  background-color: ivory;
}

/* FOOTER */

@media only screen and (max-width: 900px) {
  .footer {
    text-align: center;
    position: relative;
  }
}

.visit-h5 {
  font-size: 0.7rem;
  color: #2196f3;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.name {
  color: #2196f3;
  font-size: 0.9rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

@media only screen and (max-width: 900px) {
  .grid-container {
    grid-template-areas:
      'header header header'
      'menu main main'
      'right right right'
      'footer footer footer';
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}

.grid-container > div {
  background-color: lightgoldenrodyellow;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* DOGYEARS */

.human-years {
  font-size: 3rem;
  color: #2196f3;
  font-weight: 300;
}

img {
  width: 50px;
  height: 50px;
}
.weather-func {
  font-size: 1rem;
  color: darkolivegreen;
  font-weight: 300;
}
